footer {
	width:100%;
	float:left;
	clear:both;
}

footer section {
	width:440px;
	float:left;
	padding:20px;
}
.social center form ul li {
	display:inline-block;
	margin-right:10px;
	float: left;
	text-align: center;
	max-width: none;
	min-width: 50px;

}
.social center form ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}
}
