@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ystfwi');
	src:url('fonts/icomoon.eot?#iefixystfwi') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ystfwi') format('truetype'),
		url('fonts/icomoon.woff?ystfwi') format('woff'),
		url('fonts/icomoon.svg?ystfwi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
	content: "\e04c";
}
.icon-computer:before {
	content: "\e106";
}
.icon-desktop_mac:before {
	content: "\e107";
}
.icon-desktop_windows:before {
	content: "\e108";
}
.icon-phonelink:before {
	content: "\e121";
}
.icon-home2:before {
	content: "\e29e";
}
.icon-reorder:before {
	content: "\e310";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-finder:before {
	content: "\eac0";
}
.icon-android:before {
	content: "\eac1";
}
.icon-windows:before {
	content: "\eac2";
}
.icon-windows8:before {
	content: "\eac3";
}
